@charset "UTF-8";


@media (max-width: 800px) {
    body {
        background:#f2f2f2;
    }
    /*头部*/
    #header {
        padding-top: 25px;
        position: static;
        width: 100%;
    }
    .bar-top {
        float: none;
        height: 20px;
    }
    .bar-top > ul {
        padding-left: 32%;
    }

    .bar-top > ul > li {
        float: left;
        margin-left:20px;
        font-size:20px;
        color:#ccc;
    }

    .bar-wrap {
        width: 100%;
        height: 100%;
        margin-top: 24px;
    }

    .bar-wrap > .des-wrap {
        float: none;
        width: 100%;
    }

    .bar-wrap > .des-wrap > .mine {
        float: none;
        display: inline-block;
        width: 100px;
        height: 128px;
        background: url("../image/mine.jpg") no-repeat;
        margin-left: 42%;
    }

    .bar-wrap > .des-wrap > .des {
        float: none;
        height: 40px;
        font-size: 30px;
        padding-left:15px;
        line-height: 40px;
        text-align: center;
    }

    .bar-wrap > .bar-right {
        float: none;
        width: 100%;
        height: 100%;
        line-height: 0;
        padding: 10px;
    }
    .bar-wrap > .bar-right > ul {
        display: none;
    }

    .bar-wrap > .bar-right > .select-menu {
        display: block;
    }

    /*轮播图*/
    #slider {
        /* height: 100%; */
        background-color: #ccc;
        position: relative;
        margin-bottom:25px;
    }

    #slider > .slider-img > li {
        width: 100%;
        position: absolute;
        left:0;
        top:0;
    }

    #slider > .textContent > ul {}

    #slider > .textContent > ul > li {
        position: absolute;
        left:50%;
        bottom: 10%;
        transform: translate(-50%);
        text-align: center;
        z-index: 100;
    }

    #slider > .textContent > ul > li:nth-child(2),
    #slider > .textContent > ul > li:nth-child(3) {
        opacity:0;
    }

    /*技能区域*/

    #skill .skill-panel {
        display: inline-block;
        width: 49%;
        height: 130px;
        position: relative;
        padding: 1em;
        margin: 5px 2px;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        /*overflow: hidden;*/
    }

    /*经验区域*/
    #experience .experience-content-wrap > .content-right > div > img {
        width: 300px;
        height: 150px;
    }

}
